<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body class="solo-no-nav">
		<div class="solo-header">
			<a href="/"><img src="/static/img/art_working_remotely_logo.png" class="avatar" title="The Art of Working Remotely" /></a>	
		</div>
		<div class="main">
			<div class="container">
				<main>
					<div class="twitter-share">
						<a href="https://twitter.com/intent/tweet?url=https://artofworkingremotely.com/365-distributed-work-tips/{{date | momentYear | slug}}/{{date | momentMonth | slug}}/{{date | momentDay | slug}}&text=Distributed Work Tip No. {{ postNumber }}: {{ description }} via @workingrem and @scottpdawson #365DistributedWorkTips" class="bordered-pill" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
					</div>
					<div class="tip-date bordered-pill">
						{{ mmm }} {{ dd }}
					</div>
					<h1>{{ description | safe }}</h1>
					{{ content | safe }}
				</main>
			</div>
		</div>
		<div class="navigation">
			<a href="{{ prevPost.url }}" class="bordered-pill" title="Previous Tip"><i class="fas fa-angle-left"></i></a>
			<a href="{{ nextPost.url }}" class="bordered-pill" title="Next Tip"><i class="fas fa-angle-right"></i></a>
		</div>
		<div class="solo-footer">
			<a href="/news/365-distributed-work-tips/">#365DistributedWorkTips</a>
			via 
			<a href="https://twitter.com/workingrem">@workingrem</a>
		</div>
	</body>
</html>