---
layout: layouts/base-no-nav.njk
section: post
eleventyComputed:
  title: "{{titlePrefix}}: {{date | momentMonth}} {{date | momentDay | slug}}"
  mmm: "{{date | momentMonth}}"
  dd: "{{date | momentDay | slug}}"
---

<article>
  {{ content | safe }}
</article>